h1 {
    font-family: 'Times New Roman', Times, serif;
    color: green;
}
p {
    font-family: Arial;
    color : darkblue;
    margin-top : 20 px;
    margin-bottom :30 px;
    margin-left : 30 px;
    margin right :30 px;
}
body {
    margin: 30px;
    padding: 30px 50px;
}
